* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    width: 80%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.previous,
.next {
    width: 120px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    width: calc(100% - 240px);
    height: 600px;
}

.previous i,
.next i {
    font-size: 40px;
    color: lightslategray;
    cursor: pointer;
}

.preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;


}

.circles {
   text-align: center;
    position: relative;
    top: -30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.circles i {
    padding: 5px;
    color: white;
}
